$theme-name:'green';
$brand-color: #1ab394;
$button-color: #106cc8;
$rag-color-green: #00aa00;
$rag-color-amber: #ff8811;
$rag-color-red: #ff0000;
$box-border-color: #ddd;
$edit-color: #ff8811;
$disabled: #eeedf4;
$font-code:'courier';