body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    margin-right:5px;
}

input[type="number"]{
    padding:2px
}

.v-small-input{
    width:50px;
}

.score-input{
    margin-right:5px;
    margin-bottom:5px;
}

.score-cell > span{
    margin-right:5px;
    font-size:inherit;
}

.team-score{
    font-weight:bold;
}