body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4e4b4b;
}

span{
    margin-right:5px;
}

input[type="number"]{
    padding:2px
}

.v-small-input{
    width:50px;
}

.score-input{
    margin-right:5px;
    margin-bottom:5px;
}

.score-cell > span{
    margin-right:5px;
    font-size:inherit;
}

.team-score{
    font-weight:bold;
}

table.table-bordered{
    background-color: #fff;
    box-shadow: 0 0 200px #fff;
}

section:nth-child(1){
    color:#fff;
}

table.table > tbody > tr > td,
table.table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

div.loader{
    background:url('../images/spinning_golf_ball.gif');
    min-height:500px;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}